:root{
    --main-color: #fdb819;
    --button-color-1: rgb(243 234 40);
    --button-color-2: rgb(102 51 153);
    --white-color: #fff;
    --black-color: #001327;
    --text-color: #cccccc;
    --text-color-2: #666666;
    --border-color: #dbdbdb;
}
*{
    box-sizing: inherit;
}
html{
    top: 0;
    scroll-behavior: smooth;
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
