.footer{
    width: 100%;
    overflow: hidden;
}
.footer__content{
    width: 100%;
    background-color: var(--black-color);
}
.footer__col{
    padding: 0;
    list-style: none;
    margin: 70px 0;
}
.footer__col-name{
    font-family: 'Oswald';
    font-size: 2.3rem;
    color: var(--white-color);
    font-weight: 600;
    position: relative;
    margin-bottom: 16px;
}
.footer__col-name::before{
    content: "";
    position: absolute;
    bottom: -6px;
    width: 50px;
    height: 3px;
    background-color: var(--main-color);

}
.footer__col li{
    padding: 6px 0;
}
.footer__col a{
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.6rem;
    display: block;
    transition: all 0.3s ease;
}
.footer__col a:hover{
    color: var(--main-color);
}
.footer__ft{
    padding: 20px 0;
    background-color: #000;
}
.footer__ft-item{
    font-size: 1.6rem;
    color: #999999;

}
.footer__ft-item a{
    text-decoration: none;
    color: var(--main-color);
    font-size: 1.6rem;
}
.footer .content__blog-socal{
    /* float: right; */
}
.footer .content__blog-socal a{
    margin-right: 20px;
}