.content__ct1{
    background-color: var(--white-color);
    overflow: hidden;
}
.content__video{
    width: 100%;
    background-color: var(--white-color);
    padding: 70px 0;
    text-align: center;
    overflow: hidden;
}
.video-box{
    width: 100%;
    height: auto;
}
.video-box video{
    width: 100%;
    height: auto;
}

.content__ct2{
    background-color: var(--white-color);
    overflow: hidden;
}
.content__ct2-item{
    text-decoration: none;
    margin: 0 auto;
}
.content__ct2-img{
    width: 75px;
    height: 74px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--black-color);
    border-radius: 50%;
}
.content__ct2-text{
    color: #333333;
    font-family: 'Roboto', sans-serif;
}
.content__ct2-title{
    font-size: 1.8rem;
    font-weight: 600;
}
.content__ct2-desc{
    font-size: 1.4rem;
}


/* content__ct3 */

.content__ct3{
    overflow: hidden;
    padding: 70px 0;
    width: 100%;
    background-color: var(--white-color);
}
.content__ct3-left{
    font-family: 'Roboto', sans-serif;
    color: var(--black-color);
}
.content__left-title{
    font-size: 2.4rem;
    font-weight: 500;
    font-family: 'Oswald', sans-serif;
}
.content__left-desc{
    font-size: 1.6rem;
    color: var(--text-color-2);
}
.content__ct3_li{
    font-size: 1.6rem;
    font-weight: 600;
}
.content__ct3-line{
    width: 100%;
    height: 3px;
    background-color: #cacaca;
    border-radius: 4px;
    position: relative;
}
.content__ct3-line_active{
    position: absolute;
    top: 0;
    height: 3px;
    left: 0;
    background-color: var(--main-color);
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.line-creative{
    width: 80%;
}
.line-advertise{
    width: 95%;
}
.line-design{
    width: 90%;
}

/* content 4 */
.content__ct4,
.content__ct5{
    width: 100%;
    overflow: hidden;
    background-color: var(--white-color);
}
.content__ct4-title{
    font-size: 2.4rem;
    font-family: 'Oswald', sans-serif;
    color: var(--black-color);
    font-weight: 500;
}
.content__ct4 .content4__blog-item{
    border: 1px solid var(--text-color);
}

/* content 5 */

.content__ct5{
    padding-bottom: 60px;
}
.content__ct5 a{
    overflow: hidden;
    position: relative;
}
.content__ct5 a img{
    transition: all 0.8s ease;
}
.content__ct5 a img:hover{
    scale: 1.2;
}
.content__ct5-animate{
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    border: 2px solid #fff;
    pointer-events: none;
    opacity: 0;
    transition: all 0.8s ease;
    transform: scale(0.1);
}
.content__ct5 a:hover .content__ct5-animate {
    transform: scale(1);
    opacity: 1;
}
.content__ct5-address{
    font-family: "Roboto", sans-serif;
    color: var(--black-color);
}
.content__ct5-adr_title{
    font-size: 2.4rem;
    font-weight: 500;
}
.content__ct5-adr__desc{
    font-size: 1.6rem;
    color: var(--text-color-2);
}